#main-page-container {
    box-sizing: border-box;

    .fixed-container {
        position: fixed;
        z-index: 99;
        bottom: 50px;

        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #move-section-btns-container {
        right: 10px;

        button {
            width: 65px;
            height: 65px;
        }
    }

    .section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        padding: 100px 15%;
        box-sizing: border-box;

        // border-bottom: 1px solid var(--contrast-background-color);

        overflow-y: hidden;

        & > div {
            min-height: 50vh;
            margin: 0 auto;
        }

        h2 {
            margin: 0 0 50px;
            color: var(--intense-text-color);
            text-align: center;
            font-size: 60px;
            font-weight: normal;
        }
    }

    // Large laptop
    @media (max-width: 1440px) {
        .section {
            padding: 80px 10% 40px;

            & > div {
                width: 100%;
            }
        }
    }

    // Small Laptop
    @media (max-width: 1024px) {
        .section {
            padding: 80px 10% 40px;

            & > div {
                width: 100%;
            }

            h2 {
                font-size: 50px;
            }
        }
    }

    // Tablet
    @media (max-width: 768px) {
        .section {
            padding: 80px 10% 40px;

            & > div {
                width: 100%;
            }

            h2 {
                margin-bottom: 30px;
                font-size: 40px;
            }
        }
    }

    // Large phone
    @media (max-width: 425px) {
        .section {
            padding: 80px 0% 40px;

            & > div {
                width: 85%;
            }

            h2 {
                font-size: 30px;
            }
        }
    }
}