#skills-container {
    --heightOfRow: 75px;
    --rowGap: 50px;

    position: relative;
    width: 100%;
    max-width: 1000px;

    .timeline {
        width: 100%;

        .timeline-row {
            flex: 1;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: var(--heightOfRow);
            margin-bottom: var(--rowGap);
            box-sizing: border-box;

            &.reverse {
                flex-direction: row-reverse;
            }

            &:nth-child(2n + 1) {
                // Arrow
                .acquired {
                    &::before {
                        content: "";

                        position: absolute;
                        top: calc(50% + 1px);
                        right: 100%;
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }

                .timeline-row-line {
                    // Very last line (on whole timeline)
                    &.final {
                        .acquired {
                            left: 100%;
                        }
                    }

                    // Row end stuff
                    &:first-child {
                        height: calc((var(--heightOfRow) / 2));
                        margin: 0 0 0;
                        box-sizing: content-box;

                        border: none;
                        border-bottom: 2px solid white;
                        border-left: 2px solid white;
                        border-bottom-left-radius: 15px;

                        .acquired {
                            top: 100%;
                        }
                    }

                    &:last-child {
                        height: calc(var(--rowGap) + (var(--heightOfRow) / 2));
                        margin: calc(var(--heightOfRow) / 2) 0 0;
                        box-sizing: content-box;

                        border: none;
                        border-top: 2px solid white;
                        border-right: 2px solid white;
                        border-top-right-radius: 15px;

                        .acquired {
                            top: 30%;
                            left: 100%;
                        }
                    }
                }
            }

            &:nth-child(2n) {
                // Arrow
                .acquired {
                    &::after {
                        content: "";

                        position: absolute;
                        top: calc(50% + 1px);
                        left: 100%;
                        transform: translateY(-50%) rotate(135deg);
                    }
                }

                .timeline-row-line {
                    // Very last line (on whole timeline)
                    &.final {
                        .acquired {
                            left: 0%;
                        }
                    }

                    // Row end stuff for reverse
                    &:first-child {
                        height: calc((var(--heightOfRow) / 2));
                        margin: 0 0 0;
                        box-sizing: content-box;

                        border: none;
                        border-bottom: 2px solid white;
                        border-right: 2px solid white;
                        border-bottom-right-radius: 15px;

                        .acquired {
                            top: 100%;
                        }
                    }

                    &:last-child {
                        height: calc(var(--rowGap) + (var(--heightOfRow) / 2));
                        margin: calc(var(--heightOfRow) / 2) 0 0;
                        box-sizing: content-box;

                        border: none;
                        border-top: 2px solid white;
                        border-left: 2px solid white;
                        border-radius: 0;
                        border-top-left-radius: 15px;

                        .acquired {
                            top: 30%;
                            left: 0%;
                        }
                    }
                }
            }

            .timeline-skill-btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: var(--heightOfRow);
                height: var(--heightOfRow);
                background-color: transparent;
                margin: 0;

                border: none;
                border-radius: 50%;

                font-family: 'Courier New', Courier, monospace;

                transition: all 0.2s;

                img {
                    height: 30px;
                    padding: 20px 0 10px;
                    margin: auto;

                    // contrast against background only if it's not white
                    filter: invert(1) grayscale(1) contrast(0.5);

                    transition: all 0.2s;
                }

                span {
                    background-color: var(--background-color);
                    padding: 5px;

                    border-radius: 10px;

                    color: var(--text-color);
                    font-size: 16px;
                    white-space: nowrap;

                    transition: all 0.2s;
                }

                &:hover {
                    cursor: pointer;

                    img {
                        filter: invert(0) grayscale(0) contrast(1);
                    }

                    span {
                        color: gold;
                    }
                }

                // on click
                &:active {
                    transform: scale(1.4);

                    img {
                        filter: invert(0) grayscale(0) contrast(1);
                    }

                    span {
                        color: gold;
                    }
                }
            }

            .timeline-row-line {
                position: relative;
                z-index: -1;

                flex: 1;
                margin: auto 0;
                border: 1px solid white;

                // Very first line (on whole timeline)
                &.start {
                    border-left: 0px solid white !important;
                    border-bottom-left-radius: 0 !important;
                }

                // Very last line (on whole timeline)
                &.final {
                    height: 0 !important;
                    flex: 1;
                    border-right: none !important;

                    .acquired {
                        color: gold;
                        font-size: 24px;
                        text-transform: uppercase;
                    }
                }

                &:last-child {
                    flex: 0;
                    min-width: 50px;
                }

                .acquired {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    background-color: var(--background-color);
                    padding: 5px 10px;
                    margin: auto 0;

                    border-radius: 10px;

                    white-space: nowrap;
                    color: gold;
                    font-weight: 600;
                    line-height: 50px;

                    // Arrows
                    &::before, &::after {
                        width: 0;
                        height: 0;

                        border: solid white;
                        border-width: 0 2px 2px 0;
                        display: inline-block;
                        padding: 5px;
                    }
                }
            }

            .edge {
                flex: 1;
            }
        }
    }
}