#project-page-container {
    #details {
        margin: 0 0 20px;
        text-align: center;

        h2 {
            margin: 20px 0 10px;
            padding: 0;

            color: var(--intense-text-color);
            font-size: 40px;
            font-weight: normal;
        }

        p {
            margin: 0;
            padding: 0;

            font-size: 24px;
            font-weight: normal;
        }
    }

    #completion-date {
        color: var(--soft-text-color);
        font-size: 20px;
        text-align: right;
    }

    @import './Slideshow';
    @import './Sections';
    @import './ActiveSection';
}