#main-page-container {
    box-sizing: border-box;

    #sections {
        .section {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            padding: 100px 15%;
            box-sizing: border-box;

            overflow-y: hidden;

            & > div {
                min-height: 50vh;
                margin: 0 auto;
            }

            h2 {
                margin: 0 0 50px;
                color: var(--intense-text-color);
                text-align: center;
                font-size: 60px;
                font-weight: normal;
            }
        }

        // Large laptop
        @media (max-width: 1440px) {
            .section {
                padding: 80px 10% 40px !important;

                & > div {
                    width: 100% !important;
                }
            }
        }

        // Small Laptop
        @media (max-width: 1024px) {
            .section {
                padding: 80px 10% 40px !important;

                & > div {
                    width: 100% !important;
                }

                h2 {
                    font-size: 50px !important;
                }
            }
        }

        // Tablet
        @media (max-width: 768px) {
            .section {
                padding: 80px 10% 40px !important;

                & > div {
                    width: 100% !important;
                }

                h2 {
                    margin-bottom: 30px !important;
                    font-size: 40px !important;
                }
            }
        }

        // Large phone
        @media (max-width: 425px) {
            .section {
                padding: 80px 7.5% 40px !important;

                h2 {
                    font-size: 30px !important;
                }
            }
        }
    }
}
