.vertical-sections-slideshow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */

    .move-section-btns-container {
        position: fixed;
        z-index: 99;
        bottom: 50px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        right: 10px;

        button {
            width: 65px;
            height: 65px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

            svg {
                width: 20px;
                fill: var(--background-color);
            }
        }
    }
}