#projects-slideshow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: transparent;
    overflow: hidden;

    transition: background-color 1s ease-in-out;

    .slide-list {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0;
        padding: 0;

        .slide {
            position: absolute;
            min-width: 100%;
            min-height: 100vh;
            padding: 100px 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            box-sizing: border-box;
            opacity: 0;

            transition: opacity 1s ease-in-out;

            .project-showcase-img {
                // Fit
                width: 80%;
                height: 80%;

                // Replace white background with transparent
                background-color: transparent;

                // Disable interaction
                user-select: none;
                pointer-events: none;
            }

            &.active {
                opacity: 1;
            }
        }

        .encompassing-shadow-box {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -100vw;
            right: -100vw;

            box-shadow: inset 0 -100px 100px 0 var(--background-color), inset -0px 100px 100px 0 var(--background-color);
        }
    }

    .slide-indicators {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: inline-block;
            margin: 0 10px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--soft-border-color);
            cursor: default;

            box-shadow: 0 0 5px 0 var(--soft-border-color);

            transition: background-color 0.2s ease-in-out;

            &.active {
                background-color: var(--primary-color);

                &:hover {
                    background-color: var(--primary-color);
                    cursor: default;
                }
            }

            &:hover {
                background-color: white;
                cursor: pointer;
            }
        }
    }
}