#contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin-bottom: 150px;

    div {
        h3 {
            margin-top: 0;
            margin-bottom: 40px;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    .get-in-touch {
        width: 500px;
        max-width: 500px;
    }

    .contact-details {
        display: flex;
        flex-direction: column;

        .contact-places {
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        .contact-place {
            margin-bottom: 20px;
            font-size: 20px;

            span {
                text-transform: capitalize;
                font-weight: normal;
                color: var(--theme-color);
            }

            &.socials {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                flex: 1;
            }
        }

        // Small laptop
        @media (max-width: 1024px) {
            .contact-places .contact-place {
                font-size: 18px !important;
            }
        }

        // Tablet
        @media (max-width: 768px) {
            margin-top: 30px;

            .contact-places .contact-place {
                font-size: 18px !important;
            }
        }

        // Tablet and smaller
        @media (max-width: 500px) {
            margin-top: 20px;

            .contact-places .contact-place {
                margin-bottom: 10px;
                font-size: 16px !important;
            }
        }
    }

    // Tablet
    @media (max-width: 768px) {
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 0;

        text-align: center;

        div {
            h3 {
                margin-bottom: 20px;
            }
        }

        .get-in-touch {
            width: 100%;
        }
    }
}