#app-container {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;

    .hide {
        display: none;
    }

    .opacity-0 {
        opacity: 0;
    }

    .fade-in-500ms {
        animation: fade-in 0.5s ease-in-out forwards;
    }

    .fade-in {
        animation: fade-in 1s ease-in-out forwards;
    }

    .fade-out-display-none {
        animation: custom-fade-out 0.5s ease-in-out forwards;

        @keyframes custom-fade-out {
            0% {
                opacity: 1;
            }
            100% {
                display: none;
                opacity: 0;
            }
        }
    }
}