:root {
  --primary-color: rgb(93, 255, 193);
  --background-color: #111;
  --soft-background-color: #222;
  --intense-text-color: #fff;
  --text-color: #ddd;
  --soft-text-color: #bbb;
  --border-color: #555;
  --soft-border-color: #333;

  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
  text-decoration: none;
}