#nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    width: 100%;
    height: 75px;
    padding: 0 10%;

    box-sizing: border-box;
    opacity: 1;

    transition: opacity 0.2s ease-in-out;

    * {
        user-select: none;
    }

    a {
        display: flex;

        transition: all 0.2s;

        &:hover:not(.active) {
            // text-decoration: underline 2px;
            color: var(--theme-color) !important;
            opacity: 0.5;
        }
    }

    #logo {
        align-self: center;
        width: 30px;
        height: 30px;

        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            // When the image is not loaded, the alt text will not be shown
            color: transparent;
        }
    }

    h1 {
        align-self: center;
        margin: 0 0 0 10px;

        color: var(--intense-text-color);
        font-size: 1.5rem;
        font-weight: normal;
    }

    #open-mobile-nav-container {
        display: none;

        a {
            color: white;
        }
    }

    #nav-menu {
        flex: 1;

        .mobile-top {
            display: none;
        }

        ul {
            flex: 1;
            text-align: right;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                margin: 0 20px 0 0;
                font-size: 24px;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    color: var(--soft-text-color);

                    &.active {
                        color: var(--theme-color);
                    }
                }
            }
        }
    }

    &.hidden {
        pointer-events: none;
        opacity: 0;
    }

    // Small Laptop
    @media (max-width: 1024px) {
        padding: 0 5%;
    }

    // Tablet
    @media (max-width: 810px) {
        .open-nav-btn {
            font-size: 25px;
        }

        .close-nav-btn {
            font-size: 30px;
            color: var(--intense-text-color);
        }

        #open-mobile-nav-container {
            display: flex;
            flex: 1;
            flex-direction: row-reverse;
        }

        #nav-menu {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;

            width: 300px;
            padding-top: 0px;
            background-color: var(--background-color);
            box-shadow: -5px 0 5px -5px var(--border-color);

            transform: translateX(100%);
            transition: transform 0.2s ease-in-out;

            .mobile-top {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 75px;
                padding: 0 20px;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;

                li {
                    margin: 0 0 20px;
                    font-size: 28px;
                }
            }

            &.toggled {
                transform: translateX(0);
            }
        }
    }

    // Large phone
    @media (max-width: 425px) {
        padding: 0 20px;

        h1 {
            display: none;
        }

        #nav-menu {
            width: 100%;
        }
    }
}
