#not-found-page-container {
    h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: center;
        color: var(--intense-text-color);
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}